@import "conf.scss";
/** components */
.btn{
  display: block;
  width: 100px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  background-color: $btnBgc;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}
.circle-btn{
  display: inline-block;
  width: 80px;
  text-align: center;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  background-color: #999999;
  border-radius: 40px;
  color: #fff;
  text-decoration: none;
}

.nav{
    .return{
        display: inline-block;
        font-size: 30px;
        color: #fff;
        text-decoration: none;
        position: absolute;
        left:10px;
    }
    h1{
      margin: 0;
      background: $btnBgc;
      height: 40px;
      line-height: 40px;
      font-size: 20px;
      font-weight: normal;
      text-align: center;
      color: #fff;
    }
    ul{
      width: 100%;
      height: 40px;
      line-height: 40px;
      position: fixed;
      bottom:0;
      text-align: center;
      border-top:1px solid $bgc1;
        li{
            text-align: center;
            display: inline-block;
            width:25%;
            font-size: 16px;
            float:left;
            a{
                text-decoration: none;
                color: $textC;
                width:100%;
            }
            &.cur{
              a{
                color: $btnActiveBgc;
              }
            }
        }
    }
}