@import "conf.scss";
/** components */
.btn-s{
  display: block;
  padding:0;
  width: 100px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  background-color: $btnBgc;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}
.btn-s.warn{
  background: rgb(242, 1, 10);
}
.circle-btn{
  display: inline-block;
  text-align: center;
  border-radius: 40px;
  text-decoration: none;
  border: 1px solid $bgc1;
  position: fixed;
  bottom: 50px;
  color: #888;
  background: $bgc;
  height: 60px;
  width: 60px;
  line-height: 60px;
}
.circle-btn-right{
  right: 10px;
}
.circle-btn-left{
  left: 10px;
}

.nav{
    ul{
      background: $bgc;
      width: 100%;
      height: 40px;
      line-height: 40px;
      position: fixed;
      bottom:0;
      text-align: center;
      border-top:1px solid $bgc1;
      z-index: 2;
        li{
            text-align: center;
            display: inline-block;
            width:25%;
            font-size: 16px;
            float:left;
            a{
                text-decoration: none;
                color: $textC;
                width:100%;
            }
            &.cur{
              a{
                color: $btnActiveBgc;
              }
            }
            &.me{
              a{
                font-size: 20px;
              }
            }
        }
    }
}

