$width:270px;

.s-create{
    text-align: center;

    label {
        display: inline-block;
        margin: 10px auto;
        text-align:center;
        width:$width;
        background:#f0f0f0;
        border-radius: 10px;
        line-height: 2;
        font-size: 1em;
        input{
            border:none;
            background: #f0f0f0;
        }
        textarea{
            border:none;
            background: #f0f0f0;
            resize: none;
            font-size: 1em;
            line-height: 2;
            width:$width;
            max-height: 200px;
        }
    }

}

.s-index{


    text-align: center;

    label {
        display: inline-block;
        margin: 10px auto;
        text-align:center;
        width:$width;
        background:#f0f0f0;
        border-radius: 10px;
        line-height: 2;
        font-size: 1em;
        input{
            border:none;
            background: #f0f0f0;
        }
        textarea{
            border:none;
            background: #f0f0f0;
            resize: none;
            font-size: 1em;
            line-height: 2;
            width:80%;
            max-height: 200px;
        }
    }

    .qrcode{
        width:200px;
        height:200px;
        display: inline-block;
        border:2px solid #d7d7d7;
    }
}
.s-history{
    .history{
        li{
            margin: 10px auto;
            font-size: 16px;
        }
    }
}