
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>团团</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="style.css">
    <link href="dialog.css" type="text/css" rel="stylesheet">
<body>
  <div class="doc">
    <div class="hd">
      <div class="top-mennu">
        <a href="http://www.huihui.cn" hidefocus="true" target="_blank">惠惠网</a>|
              <a href="http://www.youdao.com/about/productlist.html" hidefocus="true" target="_blank">更多</a>
          </div>
      <h1 class='spirit'>饭团</h1>
      <h2 class='spirit'>好用的饭桌AA工具</h2>
    </div>
    <div class="hd-banner">
      <div class="slides-wrap">
        <!-- <div class="control">
          <a hidefocus="true" class='c-1' data-no='1' href="javascript:;">●</a>
          <a hidefocus="true" class='c-2' data-no='2' href="javascript:;">●</a>
          <a hidefocus="true" class='c-3' data-no='3' href="javascript:;">●</a>
        </div> -->
        <div class="slides-inner">
          <div data-no='1' class="slide slide-1">
            <div class="titles">
              <a href="javascript:;" hidefocus="true" id="holdPlayA" class="spirit video">观看视频</a>
            </div>
            <div class="phones"></div>
          </div>
          <div data-no='2' class="slide slide-2">
            <div class="titles">
            </div>
            <div class="phones"></div>
          </div>
          <div data-no='3' class="slide slide-3">
            <div class="titles">
            </div>
            <div class="phones"></div>
          </div>
        </div>
        <div class="logo"></div>
      </div>
    </div>
    <div class="dl-bar">
      <h3 class="spirit"> </h3>
      <a href="http://itunes.apple.com/cn/app/id576337924?ls=1&mt=8" target="_blank" hidefocus="true" class="spirit apple-dl" id="download"> </a>
      <a hidefocus="true" href="http://codown.youdao.com/fanyimobile/install/Youdao_Translator_Android_newest.apk" class="spirit android-dl"> </a>
      <img height="72" width="72" src="imgs/codepic.png" alt="二维码">
    </div>
    <div class="features-hd">
      <h4>特色功能</h4>
    </div>
    <div class="features-list">
      <ul>
        <li>
          <div class="p-img spirit img-1"></div>
          <h5>建团</h5>
          <p>成立吃喝玩乐小分队，团内结账无需周转</p>
        </li>
        <li>
          <div class="p-img spirit img-2"></div>
          <h5>买单</h5>
          <p>熟人记账，不用来回打钱，清晰明了</p>
        </li>
        <li>
          <div class="p-img spirit img-3"></div>
          <h5>分享</h5>
          <p>分享周围好吃好玩好享受</p>
        </li>
      </ul>
    </div>
    <div class="follow-us-wrapper">
      <div class="follow-us">
              <span>请联系我们，微博关注我们：</span>
              <a target="_blank" class="spirit sina" title="新浪微博" href="http://e.weibo.com/youdaofanyidi" hidefocus="true">新浪微博</a>
              <a target="_blank" class="spirit netease" title="网易微博" href="http://t.163.com/youdaofanyidi" hidefocus="true">网易微博</a>
              <a target="_blank" class="spirit tengxun" title="腾讯微博" href="http://t.qq.com/youdaofanyidi" hidefocus="true">腾讯微博</a>
              <a target="_blank" class="spirit kaixin" title="开心网" href="http://www.kaixin001.com/youdaofanyidi" hidefocus="true">开心网</a>
      </div>
    </div>
    <div class="ft">
      <span>©&nbsp;&nbsp;2014&nbsp;&nbsp; 网易公司&nbsp;&nbsp; 京ICP证080268号</span>
    </div>
  </div>

    <script src="scripts/jquery.js"></script>
    <script src="scripts/flashplayer.js"></script>
    <script src="scripts/flowplayer-3.2.6.min.js"></script>
    <script src="scripts/zq.js"></script>
    <script src="scripts/slide.js"></script>
    <!--<script src="scripts/jquery.colorbox.js"></script>-->

</body>
</html>
