<!doctype html>
<html ng-app="EatTogether">
<head>
  <meta charset="utf-8">
  <title>EatTogether</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="./lib/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/base.css">
  <link rel="stylesheet" type="text/css" href="./css/tuan.css">
  <link rel="stylesheet" type="text/css" href="./css/font.css">
  <script src="https://leancloud.cn/scripts/lib/av-0.4.7.min.js"></script>
  <script src="./lib/angular.min.js"></script>
  <script src="./lib/angular-route.min.js"></script>
  <script src="./lib/fastclick.js"></script>
  <script src="./lib/angular-gestures.js"></script>
  <script src="./lib/ui-bootstrap-custom-tpls.js"></script>
  <script src="./js/eat.js"></script>
  <script src="./js/controllers.js"></script>
  <script src="./js/filter.js"></script>
  <script src="./js/service.js"></script>
  <script src="./js/modalService.js"></script>
</head>
<body>

<div  ng-cloak ng-view></div>
</body>
</html>
