<!doctype html>
<html ng-app="EatTogether">
<head>
  <meta charset="utf-8">
  <title>EatTogether</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="./css/eat.css">
</head>
<body ng-controller="TuanListCtrl">

<div>
  <div ng-repeat="data in list" class="ball"
       ng-style={{data.div1}}>
    <div ng-style={{data.div2}}>
      {{data.name}}
    </div>
  </div>
</div>

<script src="https://leancloud.cn/scripts/lib/av-0.4.7.min.js"></script>
<script src="./lib/angular.min.js"></script>
<script src="./lib/zepto.min.js"></script>
<script src="./js/eat.js"></script>
</body>
</html>
