body {
  margin: 0; }
  body p, body ul, body li, body h1, body h2, body h3, body h4, body h5 {
    margin: 0;
    padding: 0; }
  body h1, body h2, body h3, body h4, body h5 {
    font-size: 1em;
    font-weight: normal; }

/** components */
.btn {
  display: block;
  width: 100px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  background-color: #999999;
  border-radius: 4px;
  color: #fff;
  text-decoration: none; }

.circle-btn {
  display: inline-block;
  width: 80px;
  text-align: center;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  background-color: #999999;
  border-radius: 40px;
  color: #fff;
  text-decoration: none; }

.nav .return {
  display: inline-block;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  position: absolute;
  left: 10px; }
.nav h1 {
  margin: 0;
  background: #999999;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  color: #fff; }
.nav ul {
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  text-align: center;
  border-top: 1px solid #e0dee1; }
  .nav ul li {
    text-align: center;
    display: inline-block;
    width: 25%;
    font-size: 16px;
    float: left; }
    .nav ul li a {
      text-decoration: none;
      color: #888;
      width: 100%; }
    .nav ul li.cur a {
      color: #609700; }

.tuan {
  display: inline-block; }

.tuan div {
  border-radius: 50%;
  background: #999999;
  text-align: center;
  text-shadow: 0 0 3px #838383;
  margin: 0 auto;
  transition: width 1s, height 1s, background 1s;
  text-overflow: ellipsis;
  overflow: hidden; }

.tuan a {
  color: #d8d8d8;
  text-decoration: none; }

label {
  display: block; }

.loading {
  line-height: 300px;
  text-align: center; }

.s-members {
  text-align: justify; }
  .s-members .members {
    padding: 30px; }
    .s-members .members .member {
      display: inline-block;
      margin: 0 10px;
      width: 80px;
      height: 80px;
      background-size: 100%;
      border-radius: 40px;
      position: relative;
      overflow: hidden; }
      .s-members .members .member img {
        max-width: 100%; }
      .s-members .members .member p {
        position: absolute;
        bottom: 5px;
        left: 10px;
        width: 100%;
        text-align: center;
        height: 20px;
        line-height: 20px;
        -webkit-transform: rotate(-22deg);
        transform: rotate(-22deg);
        font-size: 14px; }

.s-create {
  text-align: center; }
  .s-create label {
    display: inline-block;
    margin: 10px auto;
    text-align: center;
    width: 270px;
    background: #dddddd;
    border-radius: 10px;
    line-height: 2;
    font-size: 1em; }
    .s-create label input {
      border: none;
      background: #dddddd; }
    .s-create label textarea {
      border: none;
      background: #dddddd;
      resize: none;
      font-size: 1em;
      line-height: 2;
      width: 270px;
      max-height: 200px; }

.s-index {
  text-align: center; }
  .s-index label {
    display: inline-block;
    margin: 10px auto;
    text-align: center;
    width: 270px;
    background: #dddddd;
    border-radius: 10px;
    line-height: 2;
    font-size: 1em; }
    .s-index label input {
      border: none;
      background: #dddddd; }
    .s-index label textarea {
      border: none;
      background: #dddddd;
      resize: none;
      font-size: 1em;
      line-height: 2;
      width: 80%;
      max-height: 100px; }
  .s-index .qrcode {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 2px solid #d7d7d7; }
    .s-index .qrcode img {
      width: 200px; }

.s-history .history li {
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #dddddd;
  padding: 0 0 0 20px; }
  .s-history .history li .time {
    color: #d8d8d8;
    margin-right: 10px; }

.s-bill {
  padding: 0 20px; }
  .s-bill h1 {
    text-align: center;
    font-size: 30px;
    margin: 30px 0; }
  .s-bill h2 {
    line-height: 20px;
    margin: 1em 0; }
  .s-bill input {
    height: 20px;
    line-height: 20px;
    border: 1px solid #bgc1; }
  .s-bill label {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #e0dee1;
    line-height: 80px;
    text-align: center; }
    .s-bill label.choosen {
      background-color: #609700; }
    .s-bill label input {
      display: none; }

/*# sourceMappingURL=base.css.map */
