body {
  margin: 0; }
  body p, body ul, body li, body h1, body h2, body h3, body h4, body h5, body input, body textarea {
    margin: 0;
    padding: 0; }
  body h1, body h2, body h3, body h4, body h5 {
    font-size: 1em;
    font-weight: normal; }

/** components */
.btn-s {
  display: block;
  padding: 0;
  width: 100px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin: 50px auto;
  background-color: #999999;
  border-radius: 4px;
  color: #fff;
  text-decoration: none; }

.btn-s.warn {
  background: #f2010a; }

.btn-primary {
  background-color: red;
  border-color: red; }

.btn-warning {
  background-color: #e0dee1;
  border-color: #e0dee1; }

.modal-body input {
  width: 60%;
  height: 40px;
  line-height: 40px;
  margin: 30px auto 0;
  display: block;
  font-size: 20px;
  padding: 0 10px; }

.circle-btn {
  display: inline-block;
  text-align: center;
  border-radius: 40px;
  text-decoration: none;
  border: 1px solid #e0dee1;
  position: fixed;
  bottom: 50px;
  color: #888;
  background: #fff;
  height: 60px;
  width: 60px;
  line-height: 60px; }

.circle-btn-right {
  right: 10px; }

.circle-btn-left {
  left: 10px; }

.nav ul {
  background: #fff;
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  text-align: center;
  border-top: 1px solid #e0dee1;
  z-index: 2; }
  .nav ul li {
    text-align: center;
    display: inline-block;
    width: 25%;
    font-size: 16px;
    float: left; }
    .nav ul li a {
      text-decoration: none;
      color: #888;
      width: 100%; }
    .nav ul li.cur a {
      color: #609700; }
    .nav ul li.me a {
      font-size: 20px; }

body {
  padding: 0 0 40px 0; }

.loading {
  line-height: 300px;
  text-align: center; }

.s-members {
  text-align: justify; }
  .s-members .members {
    padding: 30px; }
    .s-members .members .member-wrap {
      display: inline-block;
      margin: 0 10px;
      width: 80px;
      height: 80px; }
      .s-members .members .member-wrap .member {
        display: inline-block;
        width: 80px;
        height: 80px;
        background-size: 100%;
        border-radius: 40px;
        position: relative;
        overflow: hidden;
        border: 1px solid #d8d8d8; }
        .s-members .members .member-wrap .member img {
          max-width: 100%; }
        .s-members .members .member-wrap .member p {
          color: #000;
          position: absolute;
          bottom: 5px;
          left: 10px;
          width: 100%;
          text-align: center;
          height: 20px;
          line-height: 20px;
          -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
          font-size: 14px; }
      .s-members .members .member-wrap ul {
        width: 130px;
        min-width: 50px;
        padding: 5px 13px; }
        .s-members .members .member-wrap ul li {
          font-size: 16px;
          line-height: 2; }
          .s-members .members .member-wrap ul li .first {
            font-size: 20px;
            width: 100%;
            text-align: center;
            display: inline-block; }
          .s-members .members .member-wrap ul li .date {
            display: inline-block;
            width: 46px; }
          .s-members .members .member-wrap ul li .negative {
            color: red; }
            .s-members .members .member-wrap ul li .negative.first {
              color: #000; }
          .s-members .members .member-wrap ul li.sum {
            border-top: 1px solid #d8d8d8;
            text-align: right; }

.s-index {
  text-align: center; }
  .s-index label {
    display: inline-block;
    margin: 10px auto;
    text-align: center;
    width: 270px;
    line-height: 30px;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #e0dee1; }
    .s-index label input {
      border: none;
      line-height: 30px;
      height: 30px;
      font-size: 15px;
      color: #000;
      -webkit-appearance: none; }
    .s-index label .money {
      display: inline-block;
      width: 170px;
      text-align: left; }
    .s-index label textarea {
      color: #000;
      font-size: 15px;
      border: none;
      resize: none;
      line-height: 1.5;
      width: 60%;
      max-height: 70px;
      vertical-align: top;
      padding-top: 4px; }
  .s-index .qrcode {
    width: 270px;
    height: 270px;
    display: inline-block;
    border: 1px solid #e0dee1;
    line-height: 270px; }
    .s-index .qrcode img {
      width: 265px; }

.s-history .history li {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
  position: relative;
  line-height: 1.5; }
  .s-history .history li img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0; }
  .s-history .history li .time {
    display: inline-block;
    position: absolute;
    right: 10px;
    height: 30px;
    line-height: 30px; }
  .s-history .history li .detail {
    display: inline-block;
    width: 80%;
    padding: 0 50px 0 0;
    height: 30px;
    line-height: 30px; }
  .s-history .history li .delete {
    position: absolute;
    right: 0;
    background-color: red;
    color: #fff; }
  .s-history .history li.deleted {
    text-decoration: line-through; }

.s-bill .bill {
  padding: 0 20px; }
.s-bill h1 {
  text-align: center;
  font-size: 30px;
  margin: 30px 0; }
.s-bill h2 {
  line-height: 20px;
  margin: 1em 0; }
.s-bill .tips {
  border: 1px solid #e0dee1;
  border-radius: 10px;
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  color: #e0dee1; }
.s-bill .tip-panel {
  display: block;
  width: 100%;
  background: #e0dee1;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px 0; }
.s-bill input[type="number"] {
  height: 40px;
  line-height: 20px;
  width: 80%;
  padding: 5px;
  font-size: 20px;
  -webkit-appearance: none;
  border: 1px solid #888;
  color: #000;
  box-shadow: none; }
.s-bill .members input {
  height: 20px;
  line-height: 20px;
  border: 1px solid #e0dee1;
  -webkit-appearance: none;
  padding: 0 10px; }
.s-bill .members label {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-size: 100%;
  line-height: 50px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 5px;
  border: 1px solid #e0dee1; }
  .s-bill .members label.choosen p {
    background-color: #ACC088; }
  .s-bill .members label input {
    display: none; }
  .s-bill .members label p {
    position: absolute;
    bottom: -1px;
    left: 8px;
    width: 100%;
    text-align: center;
    height: 20px;
    line-height: 20px;
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
    font-size: 12px;
    background-color: #d8d8d8; }

.s-list .tuan {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  line-height: 80px;
  margin: 10px;
  border-radius: 50%;
  background: #e0dee1;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative; }
  .s-list .tuan .name {
    overflow: hidden;
    display: block;
    width: 100%; }
  .s-list .tuan .new {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 2px;
    right: 2px;
    background: #ed7575;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
    line-height: 20px; }
.s-list .index-nav {
  position: fixed;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #e0dee1;
  width: 100%;
  white-space: nowrap; }
  .s-list .index-nav .menu {
    display: inline-block;
    width: 40px; }
  .s-list .index-nav .self {
    display: inline-block;
    width: 200px;
    text-align: center; }
  .s-list .index-nav .create {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    border-left: 1px solid #d8d8d8;
    text-align: center; }

.s-history-detail .history-view {
  padding: 0 20px; }
.s-history-detail h1 {
  text-align: center;
  font-size: 30px;
  margin: 30px 0; }
.s-history-detail h2 {
  line-height: 20px;
  margin: 1em 0; }
  .s-history-detail h2.date {
    text-align: right; }
.s-history-detail .process-bar {
  width: 100%;
  height: 30px;
  background: wheat;
  display: block;
  border-radius: 20px; }
  .s-history-detail .process-bar .inner {
    width: 100%;
    height: 30px;
    background: green;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    line-height: 30px; }
  .s-history-detail .process-bar .total {
    display: inline-block;
    height: 30px;
    vertical-align: top;
    line-height: 30px;
    text-align: center; }
.s-history-detail .btn {
  margin: 30px auto; }
.s-history-detail .members label {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-size: 100%;
  line-height: 50px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 5px;
  border: 1px solid #e0dee1; }
  .s-history-detail .members label.paid p {
    background-color: #ACC088; }
  .s-history-detail .members label p {
    position: absolute;
    bottom: -1px;
    left: 8px;
    width: 100%;
    text-align: center;
    height: 20px;
    line-height: 20px;
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
    font-size: 12px;
    background-color: #d8d8d8; }

.animated {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes shake {
  0%, 10% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  1%, 3%,5%, 7%, 9% {
    -webkit-transform: translate3d(-6px, 0, 0);
    transform: translate3d(-6px, 0, 0); }
  2%, 4%,6%, 8% {
    -webkit-transform: translate3d(6px, 0, 0);
    transform: translate3d(6px, 0, 0); } }
@keyframes shake {
  0%, 10% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  1%, 3%,5%, 7%, 9% {
    -webkit-transform: translate3d(-6px, 0, 0);
    transform: translate3d(-6px, 0, 0); }
  2%, 4%,6%, 8% {
    -webkit-transform: translate3d(6px, 0, 0);
    transform: translate3d(6px, 0, 0); } }
.shake {
  -webkit-animation-name: shake;
  animation-name: shake; }

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn; }

/*# sourceMappingURL=base.css.map */
