<div class="s-list">
    <ng-include ng-show="!loaded" src="'./html/loading.html'"></ng-include>
    <div  ng-show="loaded" >
        <div ng-repeat="data in list" class="tuan" ng-click="enterTuan(data.id)">
                {{data.name}}
        </div>
        <div class="index-nav">
            <span class="menu"></span>
            <span class="self">
                <span class="user">{{user.nickname}}</span>共消费<span class="money">{{user.money}}</span>元
            </span>
            <span class="create" ng-click="creatTuan()">建团</span>
        </div>
    </div>
</div>