<div class="s-members">
    <ng-include src="'./html/nav.html'"></ng-include>
    <ng-include ng-show="!loaded" src="'./html/loading.html'"></ng-include>
    <div class="members" ng-show="loaded">
        <div class="member-wrap dropdown" dropdown on-toggle="toggled(open)" ng-repeat="member in list">
            <a  ng-style="member.avatarBg" href class="member dropdown-toggle" dropdown-toggle>
                <p ng-style="member.moneyBgc">{{member.money}}</p>
            </a>
            <ul ng-if="member.history"  class="dropdown-menu">
                <li class="nickname">
                    <span>({{member.name}})</span>
                </li>
                <li ng-repeat="history in member.history">
                    <span ng-if="history.date" class="date">{{history.date}}</span>
                    <span class="money" ng-class="{negative : history.money < 0, first : $first}">{{history.money}}</span>
                </li>
                <li class="sum">
                    <span>{{member.money}}</span>
                </li>
            </ul>
            <ul ng-if="!member.history"  class="dropdown-menu">
                <li class="nickname"> <span>({{member.name}})</span> </li>
                <li> <span class="first">暂无历史</span> </li>
            </ul>
        </div>


        <a href="javascript:;"   ng-click="bill()" class="circle-btn circle-btn-right">买单</a>
    </div>
</div>