<div  class="s-history-detail">
    <ng-include src="'./html/nav.html'"></ng-include>
    <ng-include ng-show="!loaded" src="'./html/loading.html'"></ng-include>
    <div class="history-view" ng-show="loaded">
        <div class="hd">
            <img src="{{user.headimgurl}}" alt=""/>
            <p><span class="user">{{user.nickname}}</span>为<span>{{tuanname}}团</span>买单</p>
            <span ng-show="type == 11 || type == 14">(已撤销)</span>
            <span ng-show="type == 13">(已完成)</span>
            <div class="mode">
                <span ng-class="{choosen : !abMode}">AA模式</span>
                <span ng-class="{choosen : abMode}" >筹款模式</span>
            </div>
        </div>
        <div class="bd">
            <h2>聚餐团员：<span class="sp">{{members.length + otherSum}} </span>人 </h2>
            <div class="members">
                <label ng-click="modMoney(member)" ng-style="member.avatarBg" ng-class="choosen" ng-repeat="member in members">
                    <span ng-show="member.inThis" class="icon icon-check-mark-2"></span>
                    <p>{{member.name}}</p>
                </label>
            </div>
        </div>
        <div class="ft">
            <h2 ng-show="!abMode">
                <span class="icon icon-user-outline"></span>
                非团员数：
                <input type="number" value="{{othersnum}}" disabled="">
            </h2>
            <h2>
                <span class="icon icon-yen"></span>
                消费金额：
                <input type="number" value="{{money}}" disabled="">
                <span ng-show="!abMode" class="aver">人均：<span class="average">{{money/(members.length + othersnum) | checkAverage}}</span></span>
            </h2>
            <div ng-show="abMode">
                <h2>筹款完成百分比：{{percent * 100 + '%'}}</h2>
                <span class="process-bar"><span class="inner" ng-style="processbarStyle"><span ng-show="sum !== 0" class="sum">已筹{{sum}}元</span></span><span ng-style="processbarStyleTotal" class="total">{{(money - sum > 0) ? ('还差' + (money - sum) + '元') : ''}}</span></span>
                <a href="javascript:;"   ng-click="cancelAbBill()" class="index-btn circle-btn circle-btn-right">
                    <span class="icon icon-yen"></span>
                    <span class="tip">结束筹款</span>
                </a>
            </div>

        </div>
    </div>
</div>