<div class="s-index">
    <div class="nav">
        <a class="return" href="#/tuan/">&lt;</a>
        <ul>
            <li><a href="#/tuan/{{tuanId}}/members">成员</a></li>
            <li><a href="#/tuan/{{tuanId}}/home">首页</a></li>
            <li><a href="#/tuan/{{tuanId}}/history">历史</a></li>
        </ul>
    </div>
    <div ng-show="loaded">
        <label for="name">
            饭团名：
            <input type="text" value="{{name}}" ng-blur="save()" ng-model="name" placeholder="(二蛋团）随机生成的可重复团名">
        </label>
        <label for="id">
            饭团ID：
            <input type="text" disabled="disabled" value="{{id}}" placeholder="xxx(系统生成的唯一ID)">
        </label>
        <div id="qrcode" class="qrcode"></div>
        <label for="broadcast">
            <textarea name="broadcast" ng-blur="save()" ng-model="slogan" value="{{slogan}}"  id="" cols="30" rows="10">{{slogan}}</textarea>
        </label>

    </div>
    <a href="javascript:;" ng-click="quit()" class="quit">退团</a>
</div>