<div class="s-index">
    <ng-include src="'./html/nav.html'"></ng-include>
    <ng-include ng-show="!loaded" src="'./html/loading.html'"></ng-include>
    <div ng-show="loaded">
        <label for="name">
            饭团名：
            <input type="text" value="{{name}}" ng-blur="save()" ng-model="newName" placeholder="二蛋团">
        </label>
        <label for="id">
            共消费：
            <span class="money">{{money}}元</span>
        </label>
        <div  class="qrcode">
            <img id="qrcode" ng-src="{{qrcode}}" alt=""/>
        </div>
        <label for="broadcast">
            团口号：
            <textarea ng-blur="save()" name="broadcast" ng-model="newSlogan" value="{{slogan}}"  id="" cols="30" rows="10">{{slogan}}</textarea>
        </label>
        <a href="javascript:;" ng-click="quit()" class="index-btn circle-btn warn quit">
            <span class="icon icon-logout"></span>
            退团
        </a>
    </div>
</div>